<h2 class="text-center">Show Store </h2>
<table border="1" class="table">
	<th>
		<td>Name</td>
		<td>Type</td>
		<td>Address</td>
		<td>Owner Name</td>
		<td>Owner Number</td>
		<td>Timing</td>
		<td>Status</td>
	</th>

	<tr>
		<td></td>
		<td><%= @store.name %></td>
		<td><%= @store.store_type %></td>
		<td><%= @store.address %></td>
		<td><%= @store.owner_name %></td>
		<td><%= @store.owner_number %></td>
		<td><%= @store.timing %></td>
		<td><%= @store.status %></td>	
	</tr>
</table>
<hr>
<div class="mt-3 mb-3"></div>

<h3>Do Remark and Ratings</h3>
<%= form_with model: @store do |form| %>
	<div>
	    <%= form.label :remark %><br>
	    <%= form.text_field :remark, class: 'form-control' %>
	</div>

	<div>
	    <%= form.label :total_ratings %><br>
	    <%= form.select :total_ratings, ['1', '2', '3', '4', '5'] %>
	</div>

	<div>
		<%= form.submit "Save",class: 'btn btn-primary' %>
	</div>
<% end %>

<hr>
<div class="mt-3 mb-3"></div>

<h2>Add comment:</h2>
<%= form_with model: [ @store, @store.store_ratings.build ] do |form| %>
  <div class="">
    <%= form.label :Comments %><br>
    <%= form.text_field :store_rating_with_comments, class: 'form-control' %>
  </div>
  <div class="">
    <%= form.label :given_by %><br>
    <%= form.select :given_by, ['User', 'Buyer', 'Viewer', 'Review'] %>
  </div>
  <div>
    <%= form.submit "Comment", class: 'btn btn-primary' %>
  </div>
<% end %>